@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75em;
}

* {
    font-family: Montserrat;
}

body {
    background: black;
}

a {
    text-decoration: none;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.nav-link {
    font-family: 'Courier New', Courier, monospace;
}

#App {
    // width: 100%;
    background: rgb(36, 27, 19, 0.7);
    background-size: cover;
}

.navbar-nav .nav-link.active {
    color: #ffe4b3;
}

.nav-link:hover {
    color: #ffe4b3;
}

.homepage {
    height: 100vh;
    background: url('/src/assets/images/scott-gummerson-WwAUvVTb2Cw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    // color: #fff;

    .title {
        background: rgb(0, 0, 0, 0.8);
        height: 100vh;
        place-items: center;
        display: grid;
    }
}

.typed {
    width: 38ch;
    animation: typing 3s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


.modal-backdrop {
    background: black;
    opacity: 0.5;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10.9px);
    text-align: center;
}

.not-found {
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%),
        url('/src/assets/images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;

    h1 {
        font-size: 12rem;
        margin-bottom: 0;

    }
}

.bg-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.076);
}

.page {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.card-hover {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-hover:hover {
    background: #c6bbac;
}

.movies {
    background: url('/src/assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.characters {
    background: url('/src/assets/images/kadyn-pierce-WoTF4k1YQn8-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.planets {
    background: url('/src/assets/images/albina-andreeva-zybYFsqSbUI-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.species {
    background: url('/src/assets/images/rod-long-OSx6FqBtK7I-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.starships {
    background: url('/src/assets/images/steady-hand-co-R9EwSkibKkE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.vehicles {
    background: url('/src/assets/images/459321.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    // border-radius: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    // border: 0;
    border: 1px solid rgba(255, 255, 255, 0.076);

    .btn-dark {
        // width: 40%;
        inline-size: fit-content;
        margin-left: 10px;
    }

    // .btn-transparent {
    //     background: rgba(0, 0, 0, 0.6);
    //     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //     // backdrop-filter: blur(10.9px);
    //     border: 1px solid rgba(255, 255, 255, 0.3);
    // }
}

.error {
    text-align: center;

    img {
        width: 100%;
    }

    .modal-footer {
        justify-content: center;
    }
}

@media(min-width:720px) {

    .typed {
        font-size: 2rem;
    }
}

@media(min-width:1000px) {

    .typed {
        font-size: 2.5rem;
    }
}