@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75em;
}

* {
    font-family: Montserrat;
}

#App {
    width: 100vw;
    // background: url('/src/assets/images/background.jpg');
    background: rgb(36, 27, 19, 0.7);

    background-size: cover;
    // background-position: center;
}

.navbar-nav .nav-link.active {
    color: #ffe4b3;
}

.nav-link:hover {
    color: #ffe4b3;
}

.homepage {
    height: 100vh;
    background: url('/src/assets/images/scott-gummerson-WwAUvVTb2Cw-unsplash.jpg');
    background-size: cover;
    background-position: center;

    color: #fff;
    text-align: center;
    font-size: 0.6rem;

    .title {
        background: rgba(0, 0, 0, 0.8);
    }


}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10.9px);
    text-align: center;
}

.not-found {
    background: url('/src/assets/images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg');
    height: 100vh;
    color: #fff;
}

.movies {
    background: url('/src/assets/images/background.jpg');
    background-size: cover;
}

.bg-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.characters {
    background: url('/src/assets/images/kadyn-pierce-WoTF4k1YQn8-unsplash.jpg');
    background-size: cover;
}

.planets {
    background: url('/src/assets/images/albina-andreeva-zybYFsqSbUI-unsplash.jpg');
    background-size: cover;
    // background-position: top;

}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}